/*フォント*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

/*変数*/
:root {
    /*フォントサイズ*/
    --fs-base: 100%;
    --fs-xxl: 1.75rem;
    --fs-xl: 1.5rem;
    --fs-l: 1.25rem;
    --fs-m: 1.125rem;
    --fs-s: 1rem;
    --fs-xs: 0.85rem;

    /*カラー*/
    --c-bg: #f4dddc;
    --c-main: #ffffff;
    --c-text: #545454;
    --c-accent: #de858c;
    --c-column: #f5f3f3;
    --c-caution: #d41f1f;
    --c-a-link: var(--c-text);
    --c-a-visited: var(--c-accent);
    --c-a-hover: var(--c-text);
    --c-a-active: var(--c-accent);
    --c-hr: var(--c-text);

    /*大きさ設定*/
    --maincontainer-width: 750px;
    --illust-menu-width: 300px;
}

/*共通*/
html {
    font-size: var(--fs-base);
}

body {
    margin: 0;
    font-size: var(--fs-s);
    background-color: var(--c-bg);
    color: var(--c-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "M PLUS Rounded 1c", sans-serif;
}

h1 {
    font-size: var(--fs-xxl);
    margin: 1rem 0;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f6e2";
    color: var(--c-accent);
    margin-right: 0.2em;
}

h2 {
    font-size: var(--fs-xl);
    background: var(--c-text);
    color: var(--c-main);
    margin: 1em 0.25rem;
    padding: 0em 0.25em;
    border-radius: 0.1em;
    box-shadow: 0 0 0 0.25em var(--c-text);
}

h3 {
    font-size: var(--fs-l);
    color: var(--c-accent);
    border-bottom: dashed 2px var(--c-accent);
}

h4 {
    font-size: var(--fs-m);
}

h5 {
    font-size: var(--fs-s);
}

h6 {
    font-size: var(--fs-xs);
}

strong {
    font-weight: bold;
}

small {
    font-size: var(--fs-s);
}

.accent {
    color: var(--c-accent);
}

.caution {
    font-weight: bold;
    color: var(--c-caution);
    text-align: center;
}

.caution::before,
.caution::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f071";
    color: var(--c-caution);
    margin-right: 0.2em;
}

a:link {
    color: var(--c-a-link);
}

a:visited {
    color: var(--c-a-visited);
}

a:hover {}

a:active {
    color: var(--c-a-active);
}

a.area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

hr {
    border: none;
    border-top: 2px dashed var(--c-accent);
}

.hr-text {
    margin: 1em 0 0.7em 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.hr-text div {
    margin-top: 0.3em;
    content: attr(data-content);
    font-family: 'Press Start 2P', cursive;

}

.hr-text div::before {
    position: relative;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f6e2";
    color: var(--c-accent);
    top: -0.2em;
    margin-right: 0.2em;
}

.hr-text div::after {
    position: relative;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f6e2";
    color: var(--c-accent);
    top: -0.2em;
    margin-right: 0.2em;
}

.hr-text hr {
    flex-grow: 1;
    border-top: 2px dashed var(--c-text);
}

li {
    list-style-type: none;
    margin-left: 0em;
    text-indent: -1.5em;
}

li::before,
dt::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: var(--c-accent);
    margin-right: 0.5em;
}

.menu,
.column {
    display: inline-block;
    min-width: 7em;
    background: var(--c-column);
    margin: 2em 0em 2em 0em;
    padding: 0em 1em 0em 1em;
    border-radius: 1em;
    border: dashed 2px var(--c-text);
    box-shadow: 0 0 0 0.5em var(--c-column);
}

.menu h3,
.column h3 {
    border-bottom: none;
    color: var(--c-text);
}

.menu h3::before {
    content: "\f0ca";
}

.menu ul li::before {
    content: "\f138";
}

.column {
    display: block;
}

.column h3::before {
    content: "\f6b7";
}

.topic {
    padding: 0em 0em 0.1em 0em;
    background-color: var(--c-column);
    border-radius: 0.2em;
    box-shadow: 0 0 0 0.25em var(--c-column);
    margin: 1.5em 0em;
}

.topic h4 {
    background: var(--c-accent);
    color: var(--c-main);
    margin: 0em 0rem;
    padding: 0em 0.25em;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    box-shadow: 0 0 0 0.25em var(--c-accent);
}

.topic h4::before {
    content: "\f520";
    color: var(--c-main);
}

.topic2 {
    padding: 0.5em;
    background-color: var(--c-column);
    border-radius: 0.2em;
    box-shadow: 0 0 0 0.25em var(--c-column);
    margin: 1.5em 0em;
}

.topic2 h4 {
    margin: 0em 0rem;
    padding: 0em 0.25em;
    border-bottom: dashed 2px var(--c-accent);
}

.topic2 h4::before {
    content: "\f520";
    color: var(--c-accent);
}

.bubble {
    min-width: 10em;
    display: inline-block;
    position: relative;
    background: var(--c-column);
    margin: 0.5em 0.5em 1em 5em;
    padding: 1em 1.5em;
    border-radius: 1em;
}

.bubble::after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3rem;
    content: "\f6e2";
    color: var(--c-accent);
    top: 0.57rem;
    left: -4rem;
}

.bubble::before {
    content: "";
    position: absolute;
    top: 1em;
    left: -1.5em;
    border-top: 0.75em solid transparent;
    border-right: 0.75em solid var(--c-column);
    border-left: 0.75em solid transparent;
    border-bottom: 0.75em solid transparent;
}

ol {}

ol li {
    margin: 1em 0em 1em 0em;
}

dl {}

dt {
    margin: 1em 0em 1em 1em;
    font-weight: bold;
}

dd {
    margin: 1em 0em 1em 2.5em;
}

table {
    border-collapse: collapse;
    min-width: 50%;
    margin: 1em 0;
}

.datalist {
    width: 100%;
}

.datalist td:first-child {
    font-weight: normal;
}

.datalist tr:nth-child(even) {
    background-color: var(--c-column);
}

.datalist tr:nth-child(odd) {
    background-color: var(--c-main);
}

.datalist th:first-child {
    border-radius: 0.5em 0 0 0;
}

.datalist th:last-child {
    border-radius: 0 0.5em 0 0;
}

.datalist th {
    background: var(--c-accent);
    color: var(--c-main);
    padding: 0.5em;
    white-space: nowrap;
}

.datalist tr:last-child td:first-child {
    border-radius: 0 0 0 0.5em;
}

.datalist tr:last-child td:last-child {
    border-radius: 0 0 0.5em 0;
}

.datalist td {
    padding: 0.25em 0.5em;
}

.maincontainer {
    margin: 0.5em auto auto;
    max-width: var(--maincontainer-width);
    padding: 1em;
    border-radius: 1.5em;
    background-color: var(--c-main);
}

.contents {
    padding: 0.5em;
}

.header {
    min-width: 300px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: var(--c-text);
    color: var(--c-main);
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.1em;
    border: dashed 2px var(--c-accent);
    box-shadow: 0 0 0 0.5em var(--c-text);
}

.header i {
    font-size: var(--fs-xxl);
    color: var(--c-accent);
    margin: 0 0.5em;
}

.header h1 {
    width: 100%;
    font-weight: normal;
    font-family: 'Press Start 2P', cursive;
    font-size: var(--fs-xl);
    margin: 0 0 0.25em;
    text-align: center;
}

.header h1::before {
    content: "";
}

.header p {
    font-size: var(--fs-s);
    margin: 0;
    text-align: center;
}

@media screen and (max-width:750px) {

    .maincontainer {
        margin: 0;
        padding: 0;
        border-radius: 0.5em;
    }

    .header {
        padding: 1vw;
    }

    .header h1 {
        font-size: 3vw;
    }

    .header i {
        font-size: 4vw;
    }

    .header p {
        font-size: 1vw;
    }
}

.footer {
    margin-top: 2em;
}

.footer a {}

.footer a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f6e2";
    color: var(--c-accent);
    margin-right: 0.2em;
}

.footer a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f6e2";
    color: var(--c-accent);
    margin-left: 0.2em;
}

/*画像*/

.illust-menu {
    position: relative;
    width: var(--illust-menu-width);
    height: 100%;
}

.illust-main {
    position: absolute;
    top: 0;
    right: 0;
    left: var(--illust-menu-width);
    width: 840px;
    height: 100%;
}

iframe.main {
    width: 100%;
    height: 100%;
}

#modal-container {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

#modal-container div {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#modal-container div img {
    max-width: calc(100vw - 30px);
    max-height: calc(100vh - 30px);
}

.popup img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.popup p {
    text-align: center;
    margin-top: 0.25rem;
    font-size: var(--fs-xs);
}

img.illust {
    max-width: 300px;
}

/*ホームページ*/
.home-menu {
    display: flex;
    align-items: center;
}

.home-menu div {}

.home-menu .icon {
    flex-basis: 1.5em;
    text-align: left;
    color: var(--c-accent);
}

.home-menu .item {
    flex-basis: 5em;
    text-align: left;
    padding: 0.5em 1em 0.5em 0;
}

.home-menu .description {
    flex-grow: 1;
}

.home-about {
    display: flex;
}